
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="k2send" version="1">
<MenuBar>

  <Menu name="player"><text>&amp;Player</text>
    <Action name="player_play" />
    <Action name="player_stop" />
    <Action name="player_next" />
    <Separator/>
    <Action name="player_loudness" />
  </Menu>

  <Menu name="playlist"><text>Play&amp;list</text>
    <Action name="playlist_clear" />
  </Menu>
  <Menu name="console"><text>&amp;Console</text>
    <Action name="console_play" />
    <Action name="console_stop" />
    <Action name="console_clear" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar" newline="true" fullwidth="true">
  <text>Main Toolbar</text>
  <Separator/>
  <Action name="preferences"/>
  <Action name="help_whats_this"/>
</ToolBar>
</kpartgui>


